

aside {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  min-width: 240px;
}

aside h1 {
  padding: 20px;
  margin: 0;
  text-align: center;
}

aside span {
  text-align: center;
  font-size: 15px;
}

.side-divider {
  background-color: rgb(205, 205, 205);
  margin-top: 30px;
  height: 1px;
  width: 100%;
}

aside p {
  color: rgb(72, 72, 72);
  padding-left: 10px;
  margin: 0;
  margin-top: 20px;
  font-size: 12px;
}